@using EventBox.Helper;

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="generator"
          content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39" />
    <meta charset="UTF-8" />
    <script src=@Url.Content("~/Scripts/modernizr.js") type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/normalize.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/styles.css") />
</head>
<body>


    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Đổi mật khẩu</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">



                            <table class="table table-user-information">


                                <tr>

                                    <td><input type="password" id="OldPassword" placeholder="Mật khẩu cũ" required><br /></td>
                                </tr>
                                <tr>

                                    <td><input type="password" id="NewPassword" placeholder="Mật khẩu mới" required><br /></td>
                                </tr>

                                <tr>


                                    <td><input type="password" id="ConfirmPassword" placeholder="Nhập lại mật khẩu mới" required><br /></td>
                                </tr>
                                <tr>

                                    <td align="center"><button type="submit" id="upload">Đổi mật khẩu</button><br /></td>
                                </tr>
                                <input type="hidden" id="userID" value="" required>

                                <h5 id="ErrorChangePassword"></h5>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        $('#upload').click(function (e) {
            e.preventDefault();
            var source = {
                'OldPassword': $('#OldPassword').val(),
                'NewPassword': $('#NewPassword').val(),
                'ConfirmPassword': $('#ConfirmPassword').val()
            }
            $.ajax({
                type: "POST",
                url: @ContentManager.APIUrl + "api/Account/ChangePassword",
                data: source,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader ("Authorization", "Bearer @Session["Token"]");
                },
                success: function (data) {
                    var url = @ContentManager.WebServerUrl + "Users/Detail?id="+@Session["CurrentUserID"];
                    window.location = url;
                },
                error: function (error) {
                    document.getElementById("ErrorChangePassword").innerHTML = "Lỗi xảy ra khi đổi mật khẩu";
                }
            });
        });
    </script>
</body>
</html>