@using EventBox.Models;
@using EventBox.Helper;

@{
    var Categories = (List<Category>)ViewData["Categories"];
}

@{
    ViewBag.Title = "Thể loại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    @foreach (var Category in Categories)
    {
        var url = ContentManager.WebServerUrl + "Categories/Search?categoryID=" + Category.ID;
        <a href="@url"><h3>@Category.Name</h3></a><br />
    }
</body>
</html>