@using EventBox.Models;

@{
    ViewBag.Title = "Thêm sự kiện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var EventDetail = (EventDetail)ViewData["EventDetail"];
    var Categories = (List<Category>)ViewData["Categories"];
    var TimeError = (string)ViewData["TimeError"];
    var MaxError = (string)ViewData["MaxError"];
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <script src=@Url.Content("~/Scripts/modernizr.js") type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/normalize.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/styles.css") />
</head>
<body>
    @using (Html.BeginForm("Create", "Events", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                    <div class="panel panel-info">

                        <div class="panel-body">


                            <table class="table table-user-information">

                                <tr>
                                    <td>Tên sự kiện: </td>
                                    <td align="center"><input type="text" id="name" name="name" placeholder="Tên sự kiện" required><br /></td>
                                </tr>
                                <tr>
                                    <td>Thông tin: </td>
                                    <td align="center"><input type="text" id="info" name="info" placeholder="Thông tin" required><br /></td>
                                </tr>

                                <tr>
                                    <td>Thời gian: </td>

                                    <td align="center"><input type="datetime-local" id="time" name="time" placeholder="Thời gian" required><br /></td>
                                    <td>@TimeError</td>
                                </tr>
                                <tr>
                                    <td>Địa điểm:</td>
                                    <td align="center"><input type="text" id="place" name="place" placeholder="Địa điểm" required><br /></td>
                                </tr>
                                <tr>
                                    <td>Số người tối đa</td>

                                    <td align="center"><input type="number" id="maxAttendance" name="maxAttendance" placeholder="Số người tối đa" min="0"><br /></td>
                                    <td>@MaxError</td>
                                </tr>
                                <tr>
                                    <td>Số người yêu cầu</td>
                                    <td align="center"><input type="number" id="requireAttendance" name="requireAttendance" placeholder="Số người yêu cầu" min="0"><br /></td>

                                </tr>
                                <tr>
                                    <td>Giá</td>
                                    <td align="center"><input type="number" id="price" name="price" placeholder="Giá"><br /></td>

                                </tr>

                                <tr>
                                    <td>Hình ảnh</td>
                                    <td align="right"><input type="file" id="file" name="image" accept="image/*" required><br /></td>

                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        @foreach (var Category in Categories)
                                        {
                                            <input name="categories" value="@Category.ID" type="checkbox" />@Category.Name<br />
                                        }
                                    </td>

                                </tr>
                                <tr>
                                    <td></td>

                                    <td align="center"><button type="submit" id="upload" onclick="submitform()">Thêm sự kiện</button><br /></td>

                                </tr>

                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>