@using EventBox.Models;

@{
    Layout = null;
}

@{ 
    var EventDetail = (EventDetail)ViewData["EventDetail"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="generator"
          content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src=@Url.Content("~/Scripts/modernizr.js") type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/normalize.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/styles.css") />
    <title>Event Details</title>
</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">EVENT BOX</a>
            </div>
            <div style="margin-left: 2em" class="nav navbar-nav">
                <div class="search">
                    <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />
                    <button type="submit" class="btn btn-primary btn-sm" id="btn_Search" name="btn_Search">Search</button>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="button" class="btn btn-info btn-sm glyphicon glyphicon-user" id="btn_Reg" name="btn_Reg"
                            data-toggle="modal" data-target="#myModal">
                        Đăng ký
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-info btn-sm glyphicon glyphicon-log-in" id="btn_Login" name="btn_Login"
                            data-toggle="modal" data-target="#ModalDangNhap">
                        Đăng nhập
                    </button>
                </li>
            </ul>
        </div>
    </nav>
    <!--navbar-->
    <div class="product clear">
        <header>
            <hgroup>
                <h1>@EventDetail.Name</h1>
            </hgroup>
        </header>

        <figure>
            <img src="~/Images/disney-on-ice-banner.jpg" />
        </figure>
        <section>

            <details>
                <summary>Xem chi tiết...</summary>
                <p>
                    @EventDetail.Info
                </p>
            </details>
            <button>Tham gia ngay</button>
        </section>
    </div>




</body>
</html>
