@using EventBox.Models;

@{
    var events = (List<Event>)ViewData["Events"];
}

@{
    ViewBag.Title = "Tìm Kiếm"
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<body>


    <!-- Carousel -->
    <!-- grid Image -->
    <div id="three-columns" class="grid-container" style="display: block;">

        <ul class="rig columns-3">
            @foreach (var item in events)
            {
                string url = "/EventBox/Events/Detail?id=" + item.ID;
                <li>
                    <img src="@item.Image" alt="Demo" />
                    <a href="@url"><h3>@item.Name</h3></a>
                    <p>@item.Time</p>
                </li>
            }
        </ul>
    </div>
    <!-- grid Image -->
</body>
</html>
